<%- include("./partials/header") %>


<h1>
	Registrering
</h1>

<form action="/register" method="POST">
	<input type="text" name="username" placeholder="Brugernavn">
	<input type="password" name="password" placeholder="Kodeord">
	<button>Register</button>
</form>

<%- include("./partials/footer") %>